you search for: <%= @search_conditions.join('<span> >> ').html_safe %>

</p>
Filters:
<% @filter_conditions.each do |property_id, property| %>
	<% unless @url_data[:prop].keys.include?(property_id.to_s.to_sym) %>
		<div class='stock-property' data-chosen='false'>
			<%= property[:name] %>:
			<% property[:items].uniq.each do |item| %>
				<%= link_to item[:name], search_url_generator(:prop, property_id, item[:id]) %>
			<% end %>
		</div>
	<% end %>
<% end %>

<p>结果：</p>
<% @items.each do |item| %>
	<%= link_to item.name, item_path(item) %><br>
<% end %>